body{
    margin: 0;
}
header {
    padding: 24px 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*width: 100%;*/
    /*box-sizing: border-box;*/
}

section {
    padding: 96px 0;
}
header + * {
    margin-top: 80px;
}

footer {
    padding: 80px 0 0;
}

.bg-primary {
    background-color: #18bc9c;
}

.bg-secondary {
    background-color: #6c757d;
}
.logo, nav {
    display: inline-block;
}
.logo > a {
    font-size: 32px;
}
.nav-link {
    color: white;
    font-family: "Arial";
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}
nav{
    float: right;
}
header::after{
    content: "";
    display: table;
    clear: both;
}
.main-nav {
    padding: 0;
    list-style: none;

}
.main-nav >li {
    display: inline-block;
    margin: 0 10px;
    /*padding: 10px 0 8px;*/
}
.main-nav .nav-link:hover,
.main-nav .nav-link:focus {
    color: #18bc9c;
}